<div class="bill-pay">
    <div class="bill-pay_caption">
        Over this new BillPay, you can now make online payments to over 260 billers across various categories including:
    </div>
    <ul>
        <li>Electricity Bills.</li>
        <li>Telephone and Mobile Bills</li>
        <li>Prepaid DTH/ Mobile Connection/ Data Card Recharge</li>
        <li>Gas Bills</li>
        <li>Mutual Funds.</li>
        <li>Insurance Premiums.</li>
        <li>Subscriptions.</li>
        <li>Contribution to Charities.</li>
    </ul>

    <div class="bill-pay_caption">
        Add billers and pay your bills through the enhanced BillPay service, powered by BillDesk.
    </div>
</div>
